@model List<ProductViewModel>
    @{
    ViewData["Title"] = "Home Page";
    }

    <div class="row row-cols-1 row-cols-md-4 g-2 m-1">
        @foreach (var product in Model)
    {
        <div class="col">
            <div class="card h-100">
                <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">
                    <img src="@product.ImagePath" class="" style="width: 100%; height: 12rem; object-fit: contain; margin-top: 10px " alt="Обложка книги">
                </a>
                <div class="card-body">
                    <p class="card-text"><a class="nav-link text-secondary" asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">@product.Author</a></p>
                    <p class="card-text"><a class="nav-link text-black" asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">@product.Name</a></p>
                    <p class="card-text text-muted ps-4 fs-4 fw-semibold">@product.Cost ₽</p>
                </div>
                <div class="card-footer dis" style=" background: none; border-top: none; display:flex; justify-content:center">
                    <div class="btn-group">
                        @if (!product.IsDeleted && product.Amount > 0)
                        {
                        <a class="btn btn-outline-success border-1" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id" role="button">Добавить в корзину</a>
                        }
                        else
                        {
                        <h6 class="text-secondary">Нет в продаже</h6>
                        }
                        <a class="nav-link text-black" title="Добавить в избранное" asp-area="" asp-controller="Favorites" asp-action="Add" asp-route-productId="@product.Id">
                            <img src="/images/SiteDesign/favourites.png" width="20"
                                 height="20" alt="Favorites">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    }
    </div>
