@model List<ProductViewModel>

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenu")
        </div>

        <div class="col-10">
            <h4>Список продуктов</h4>
            <a class="btn btn-outline-secondary border-1" asp-area="Admin" asp-controller="Product" asp-action="Add" role="button">Добавить книгу</a>
            <table class="table">
                <thread>
                    <tr>
                        <th>№</th>
                        <th>Автор</th>
                        <th colspan="2">Название</th>
                        <th>Цена, ₽</th>
                        <th colspan="3">На складе, шт.</th>
                    </tr>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Author</td>
                                <td>
                                    <a class="link-dark" asp-area="Admin" asp-controller="Product" asp-action="Detail" asp-route-productId="@Model[i].Id">
                                        <img src="@Model[i].ImagePath" class="img" style=" width: 100%; height: 3rem; object-fit: contain;" alt="Обложка">
                                    </a>
                                </td>
                                <td>
                                    @Model[i].Name
                                </td>
                                <td>
                                    @Model[i].Cost
                                </td>

                                @if (Model[i].Amount == 0)
                                {
                                    <td>
                                        <a class="btn btn-outline-secondary border-1 align-content-end disabled" asp-area="Admin" asp-controller="Product" asp-action="ReduceAmount" asp-route-productId="@Model[i].Id" role="button">-</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-outline-secondary border-1 align-content-end" asp-area="Admin" asp-controller="Product" asp-action="ReduceAmount" asp-route-productId="@Model[i].Id" role="button">-</a>
                                    </td>

                                }
                                <td class="text-lg-center">
                                    @Model[i].Amount
                                </td>
                                <td>
                                    <a class="btn btn-outline-secondary border-1 align-content-around" asp-area="Admin" asp-controller="Product" asp-action="AddAmount" asp-route-productId="@Model[i].Id" role="button">+</a>
                                </td>

                                @if (Model[i].IsDeleted)
                                {
                                    <td class="text-danger">Не продаётся</td>
                                }
                            </tr>
                        }
                    </tbody>
                </thread>
            </table>
        </div>
    </div>
</div>
